<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-11 col-12  offset-md-1">
      <div class="">
          <div class="row">
            <br>
            <label for="operande1" class="col-md-2 col-12 col-form-label">Op. 1</label> <br/>
            <div class="col-md-4 col-12">
              <br>
              <input type="number" class="form-control" id="operande1" [(ngModel)]="operande1" value="0" autofocus tabindex="1"> <br/>
            </div>
            <br>
            <label for="operande2" class="col-md-2 col-12 col-form-label">Op. 2</label> <br/>
            <div class="col-md-4 col-12">
              <br>
              <input type="number" class="form-control" id="operande2" [(ngModel)]="operande2" value="0" tabindex="2"><br/>
            </div>

          </div>
          <div class="row">
            <br>
            <label for="resultat" class="col-md-2 col-12 col-form-label">Résultat</label><br/>
            <div class="col-md-10 col-12">
              <input type="number" class="form-control" id="resultat" [(ngModel)]="resultat" disabled >
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <br>
              <button type="button" class="btn btn-primary btn-block" tabindex="3" (click)="addition()">+</button> <br/>
            </div>
            <div class="col-6">
              <br>
              <button type="button" class="btn btn-primary btn-block" tabindex="4" (click)="soustraction()">-</button>  <br/>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <br>
              <button type="button" class="btn btn-primary btn-block" tabindex="5" (click)="multiplication()">*</button> <br/>
            </div>
            <div class="col-6">
              <br>
              <button type="button" class="btn btn-primary btn-block" tabindex="6" id="div" (click)="division()">/</button> <br/>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <br>
              <button type="button" class="btn btn-success btn-block" tabindex="7" onclick="memoriser();">Mémoriser</button> <br/>
            </div>
            <div class="col-6">
              <br>
              <button type="button" class="btn btn-success btn-block" tabindex="8" onclick="transfert();">Charger la mémoire</button> <br/>
            </div>
          </div>
          <div class="row">
            <br>
            <label for="memory" class="col-md-2 col-12 col-form-label">TEST DU COMMIT</label> <br/>
            <div class="col-md-10 col-12">
              <input type="number" class="form-control" id="memory" readonly tabindex="-1">
            </div>
            <div class="col-12">
              <div class="card text-white bg-warning">
                <div class="card-header">
                  <h5>Mes dernières opérations</h5>
                </div>
                <div class="card-body" id="historique"></div>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
