<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>

<h1>DoodleMe!</h1>
<div class="content">
  <h2>Bienvenue#NomUtilisateur</h2>
  <input class="redBouton"
         type="button"
         value="Créer un nouveau DoodleMe !">
  <br>
  <br>
  <br>
  <input class="greenBouton"
         type="button"
         value="Menu">

  <input class="greenBouton"
         type="button"
         value="Mon compte">
  <!-- <ul>
    <li> <a href="creer_un_doodleme.html">Créer un nouveau DoodleMe!</a> </li>
    <li> <a href="menu.html">Menu</a></li>
    <li> <a href="mon_compte.html">Mon compte</a></li>
  </ul> -->
</div>
</body>
</html>
