<!DOCTYPE html>
<html lang="en">
<head>

  <link type="text/css" rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>DoodleMe!</h1>
<div class="content">
  <style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#d4e3e5;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffffff;}
  </style>

  <table class="tftable" border="1">
    <tr><th></th><th>Mai 12 Mar.</th><th>Mai 13 Mer.</th><th>Mai 14 Jeu.</th><th>Mai 15 Ven.</th><th>Mai 16 Sam.</th><th>Mai 17 Dim.</th><th>Mai 18 Lun.</th><th>Mai 19 Mar.</th><th>Mai 20 Mer.</th></tr>
    <tr><td>8:00 / 10:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>10:00 / 12:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>14:00 / 16:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr><td>16:00 / 18:00</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </table>

  <input class="favorite styled"
         type="button"
         value="Retour">

  <input class="favorite styled"
         type="button"
         value="Continuer">
</div>
</body>
</html>
