<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="style.css">
  <title>Pour quelle occasion?</title>
</head>
<body>
<h1>DoodleMe!</h1>
<div class="content">
  <h2>Pour quelle occasion?</h2>
  <form action="" method="post" autocomplete="on">
    <fieldset>
      <img src="https://img.icons8.com/material-rounded/24/000000/list.png"/>
      <input name="nom" id="nom" type="text" placeholder="Nom du sondage:" maxlength="20" required><br>
      <img src="https://img.icons8.com/material-rounded/24/000000/place-marker.png"/>
      <input name="lieu" id="lieu" type="text" placeholder="Lieu:" maxlength="20" required><br>
      <img src="https://img.icons8.com/material-rounded/24/000000/tasks.png"/>
      <input name="note" id="note" type="text" placeholder="Note:" maxlength="20" required><br>
      <input name="control" type="reset" value="Retour">
      <input name="control" type="submit" value="Continuer">
    </fieldset>
  </form>
</div>
</body>

</html>
