<!DOCTYPE html>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>DoodleMe!</h1>
<div class="content">
  <h2>Bienvenue sur votre compte</h2>
  <!--
  <ul>
    <li> <a href="creer_un_doodleme.html">Liste des DoodleMe</a> </li>
    <li> <a href="invitations.html">Invitations</a></li>
    <li> <a href="tarif.html">Tarif prémium</a></li>
  </ul>
  -->

  <input class="greyBouton"
         type="button"
         value="Liste des DoodleMe">

  <input href
         class="greyBouton"
         type="button"
         value="Invitations">
  <br>
  <br>
  <div class="createDoodleMe">
    <section>
      <h3>Créer votre DoodleMe!</h3>
      <input class="greenBouton"
             type="button"
             value="Reunion de groupe">

      <input class="greenBouton"
             type="button"
             value="Réunion 1vs1">

      <input class="greenBouton"
             type="button"
             value="Sondage">
     <!-- <li> <a href="creer_un_doodleme.html">Groupe de réunion</a> </li>
      <li> <a href="creer_un_doodleme.html">Réunion 1vs1</a></li>
      <li> <a href="sondage.html">Sondage</a></li> -->
    </section>
  </div>
</div>
</body>
</html>
