<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Bienvenue sur votre compte</h2>
  <ul>
    <li> <a href="creer_un_doodleme.html">Liste des DoodleMe</a> </li>
    <li> <a href="invitations.html">Invitations</a></li>
    <li> <a href="tarif.html">Tarif prémium</a></li>
  </ul>
  <section>
    <h3>Créer votre DoodleMe!</h3>
    <li> <a href="creer_un_doodleme.html">Groupe de réunion</a> </li>
    <li> <a href="creer_un_doodleme.html">Réunion 1vs1</a></li>
    <li> <a href="sondage.html">Sondage</a></li>
  </section>
</body>
</html>
