<!doctype html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Creez vous un compte </title>
  </head>
  <body>
  <h1>DoodleMe!</h1>
  <div class="content">
        <form action="" method="post" autocomplete="on">
           <fieldset>
              <input name="nom_utilisateur" id="nom_utilisateur" type="text" placeholder="Nom d'utilisateur" maxlength="20" required><br>
             <input name="nom" id="nom" type="text" placeholder="Nom" maxlength="20" required><br>
             <input name="prenom" id="prenom" type="text" placeholder="Prénom" maxlength="20" required><br>
             <input class="greyBouton" name="control" type="reset" value="Retour" href="menu.html">
              <input class="greenBouton" name="control" type="submit" value="Continuer">
            </fieldset>
        </form>
  </div>
  </body>
</html>
