<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Creez vous un compte </title>
  </head>
  <body>

    <ul>
      <li> <a href="menu.html">Menu</a></li>
      <li> <a href="se_connecter.html">Connectez vous à votre compte!</a></li>
      <li> <a href="s_inscrire.html">Creez vous un compte!</a></li>
      <li> <a href="creer_un_doodleme.html">Pour quelle occasion?</a></li>
    </ul>
        <form action="" method="post" autocomplete="on">
           <fieldset>
              <input name="nom_utilisateur" id="nom_utilisateur" type="text" placeholder="Nom d'utilisateur:" maxlength="20" required><br>
              <input name="nom" id="nom" type="text" placeholder="Nom:" maxlength="20" required><br>
              <input name="prenom" id="prenom" type="text" placeholder="Prénom:" maxlength="20" required><br>
              <input name="control" type="reset" value="Retour" href="menu.html">
              <input name="control" type="submit" value="Continuer">
            </fieldset>
        </form>

  </body>
</html>
