<!doctype html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <title>Connectez vous à votre compte! </title>
</head>
<body>
<h1>DoodleMe!</h1>
<div class="content">
  <h2>Se connecter à son compte</h2>
  <form action="" method="post" autocomplete="on">
    <fieldset>
      <input size="50" name="nom" id="nom" type="text" placeholder="Nom d'utilisateur:" maxlength="50" required><br>
      <br>
        <input class="greyBouton" name="control" type="reset" value="Retour">
        <input class="greenBouton" name="control" type="submit" value="Continuer">
    </fieldset>
  </form>
</div>
</body>
</html>
