<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Connectez vous à votre compte! </title>
</head>
<body>
  <ul>
    <li> <a href="menu.html">Menu</a></li>
    <li> <a href="se_connecter.html">Connectez vous à votre compte!</a></li>
    <li> <a href="s_inscrire.html">Creez vous un compte!</a></li>
    <li> <a href="creer_un_doodleme.html">Pour quelle occasion?</a></li>
  </ul>
<form action="" method="post" autocomplete="on">
  <fieldset>
    <input name="nom" id="nom" type="text" placeholder="Nom d'utilisateur:" maxlength="10" required><br>
    <input name="control" type="reset" value="Retour">
    <input name="control" type="submit" value="Continuer">
  </fieldset>
</form>
</body>
</html>
