<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Paramètre du sondage :</p>

<div>
  <input type="radio" id="choix1" name="drone" value="choix1"
         checked>
  <label for="choix1">Les participants peuvent indiquer si un créneau n'est pas idéal pour eux.</label>
</div>

<div>
  <input type="radio" id="choix2" name="drone" value="choix2">
  <label for="choix2">Les participants peuvent choisir qu'un seul créneau</label>
</div>

<div>
  <input type="radio" id="choix3" name="drone" value="choix3">
  <label for="choix3">Les noms et votes des participants sont confidentiels. Seul vous y avez accès.</label>
</div>

<input class="favorite styled"
       type="button"
       value="Retour">

<input class="favorite styled"
       type="button"
       value="Terminer">
</body>
</html>
